#Content_01 {
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 1800px;
    overflow: visible;

    .Background_eg {
        position: absolute;
        overflow: visible;
        width: 1440px;
        height: 800px;
        left: 0px;
        top: 0px;
    }

    #Image_eh {
        position: absolute;
        width: 445px;
        height: 640px;
        left: 830px;
        top: 80px;
        overflow: visible;

        .Mask_el {
            position: absolute;
            overflow: visible;
            width: 445px;
            height: 640px;
            left: 0px;
            top: 0px;
        }

        #Image_ej {
            position: absolute;
            width: 445px;
            height: 640px;
            left: 0px;
            top: 0px;
            overflow: visible;
        }
    }

    #Buttons_Large_Color_1_Solid {
        position: absolute;
        width: 180px;
        height: 60px;
        left: 165px;
        top: 566px;
        overflow: visible;

        #Buttons_Large_Color_1_Solid_en {
            position: absolute;
            width: 180px;
            height: 60px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Background_eo {
                position: absolute;
                overflow: visible;
                width: 180px;
                height: 60px;
                left: 0px;
                top: 0px;
            }

            #Get_Started {
                position: absolute;
                left: 45.5px;
                top: 18px;
                overflow: visible;
                width: 91px;
                white-space: nowrap;
                text-align: center;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    #Text_3 {
        position: absolute;
        width: 255px;
        height: 90px;
        left: 450px;
        top: 436px;
        overflow: visible;

        #Better_a_diamond_wit {
            position: absolute;
            left: 0px;
            top: 34px;
            overflow: visible;
            width: 256px;
            height: 56px;
            line-height: 28px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(103, 103, 103, 1);
        }

        #Find_Your_Brand_s_Vo {
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: visible;
            width: 202px;
            white-space: nowrap;
            line-height: 26px;
            margin-top: -4px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(21, 21, 23, 1);
        }
    }

    #Text_2 {
        position: absolute;
        width: 255px;
        height: 90px;
        left: 165px;
        top: 436px;
        overflow: visible;

        #Life_isn_t_about_fin {
            position: absolute;
            left: 0px;
            top: 34px;
            overflow: visible;
            width: 256px;
            height: 56px;
            line-height: 28px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(103, 103, 103, 1);
        }

        #Ideas_That_Provoke {
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: visible;
            width: 166px;
            white-space: nowrap;
            line-height: 26px;
            margin-top: -4px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(21, 21, 23, 1);
        }
    }

    #Text_1 {
        position: absolute;
        width: 540px;
        height: 204px;
        left: 165px;
        top: 175px;
        overflow: visible;

        #This_is_a_big_one_an_ex {
            position: absolute;
            left: 0px;
            top: 144px;
            overflow: visible;
            width: 541px;
            height: 60px;
            line-height: 30px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(103, 103, 103, 1);
        }

        #Building_Brands_With {
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: visible;
            width: 541px;
            height: 124px;
            line-height: 62px;
            margin-top: -7px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: rgba(21, 21, 23, 1);
        }
    }
}