#footer {
  position: absolute;
  width: 1440px;
  height: 404px;
  left: 0px;
  top: 7483px;
  overflow: visible;

  .background {
    position: absolute;
    overflow: visible;
    width: 1440px;
    height: 404px;
    left: 0px;
    top: 0px;
    background-color: rgb(255, 255, 255);
  }

  #Copyright___2019_Kra {
    position: absolute;
    left: 165px;
    top: 338px;
    overflow: visible;
    width: 296px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(103, 103, 103, 1);
  }

  #Social_Icons_Style_2 {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -1990px;
    top: -7483px;
    overflow: visible;
  }

  #Link_List_3 {
    position: absolute;
    width: 140px;
    height: 133px;
    left: 1115px;
    top: 77px;
    overflow: visible;
  }
  #FAQ {
    position: absolute;
    left: 0px;
    top: 114px;
    overflow: visible;
    width: 33px;
    white-space: nowrap;
    text-align: left;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(103, 103, 103, 1);
  }
  #Terms___Condition {
    position: absolute;
    left: 0px;
    top: 80px;
    overflow: visible;
    width: 141px;
    white-space: nowrap;
    text-align: left;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(103, 103, 103, 1);
  }
  #Privacy_Policy {
    position: absolute;
    left: 0px;
    top: 46px;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    text-align: left;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(103, 103, 103, 1);
  }
  #Information {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 102px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -4px;
    text-align: left;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(21, 21, 23, 1);
  }
  #Link_List_2 {
    position: absolute;
    width: 82px;
    height: 167px;
    left: 925px;
    top: 77px;
    overflow: visible;

    #Press {
      position: absolute;
      left: 0px;
      top: 148px;
      overflow: visible;
      width: 44px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Careers {
      position: absolute;
      left: 0px;
      top: 114px;
      overflow: visible;
      width: 61px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Contact {
      position: absolute;
      left: 0px;
      top: 80px;
      overflow: visible;
      width: 62px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #About {
      position: absolute;
      left: 0px;
      top: 46px;
      overflow: visible;
      width: 48px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Company {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 83px;
      white-space: nowrap;
      line-height: 26px;
      margin-top: -4px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: rgba(21, 21, 23, 1);
    }
  }

  #Link_List_1 {
    position: absolute;
    width: 100px;
    height: 201px;
    left: 735px;
    top: 77px;
    overflow: visible;

    #Blog {
      position: absolute;
      left: 0px;
      top: 182px;
      overflow: visible;
      width: 36px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Team {
      position: absolute;
      left: 0px;
      top: 148px;
      overflow: visible;
      width: 42px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Features {
      position: absolute;
      left: 0px;
      top: 114px;
      overflow: visible;
      width: 67px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Portfolio {
      position: absolute;
      left: 0px;
      top: 80px;
      overflow: visible;
      width: 67px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Home {
      position: absolute;
      left: 0px;
      top: 46px;
      overflow: visible;
      width: 46px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Quick_Links {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 101px;
      white-space: nowrap;
      line-height: 26px;
      margin-top: -4px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: rgba(21, 21, 23, 1);
    }
  }

  #Text {
    position: absolute;
    width: 350px;
    height: 99px;
    left: 165px;
    top: 77px;
    overflow: visible;

    #This_is_a_big_one_an {
      position: absolute;
      left: 0px;
      top: 39px;
      overflow: visible;
      width: 351px;
      height: 60px;
      line-height: 30px;
      margin-top: -6px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: rgba(103, 103, 103, 1);
    }

    #kraft8 {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 61px;
      white-space: nowrap;
      text-align: left;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      color: rgba(21, 21, 23, 1);
    }
  }
}
