#root {
  position: absolute;
  width: 1440px;
  height: 7965px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: Landing Page 05 – 1;
  --web-view-id: Landing_Page_05___1;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
  transform-origin: 0px 0px;
}

.Header {
  position: absolute;
  overflow: visible;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  background-color: rgba(241, 241, 241, 1);
}

.Nav {
  transform-origin: 0px, 0px;
  transform: translate(0.5, 0);
}

#kraft8 {
  position: absolute;
  left: 165.5px;
  top: 34px;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: rgba(21, 21, 23, 1);
}

#Explore {
  position: absolute;
  left: 265.5px;
  top: 38px;
  overflow: visible;
  width: 58px;
  white-space: nowrap;
  text-align: left;
  font-family: LibreFranklinLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(21, 21, 23, 1);
}

#Work {
  position: absolute;
  left: 353.5px;
  top: 38px;
  overflow: visible;
  width: 42px;
  white-space: nowrap;
  text-align: left;
  font-family: LibreFranklinLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(21, 21, 23, 1);
}

#Service {
  position: absolute;
  left: 424.5px;
  top: 38px;
  overflow: visible;
  width: 66px;
  white-space: nowrap;
  text-align: left;
  font-family: LibreFranklinLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(21, 21, 23, 1);
}

#Contact {
  position: absolute;
  left: 520.5px;
  top: 38px;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: LibreFranklinLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(21, 21, 23, 1);
}

#LogIn {
  position: absolute;
  left: 1088.5px;
  top: 38px;
  overflow: visible;
  width: 48px;
  white-space: nowrap;
  text-align: left;
  font-family: LibreFranklinLight;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(82, 82, 82, 1);
  background-color: transparent;
}

#SignUp {
  position: absolute;
  width: 120px;
  height: 50px;
  left: 1155.5px;
  top: 25px;
  overflow: visible;
  background-color: rgb(255, 169, 0);
  border-radius: 15px;
}

.logIn {
  position: absolute;
  left: 30px;
  top: 13px;
  overflow: visible;
  width: 61px;
  white-space: nowrap;
  text-align: center;
  font-family: LibreFranklinBold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
