.productZoom {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.productZoom:hover {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
}
#Header_01 {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  overflow: visible;

  .Background_e {
    position: absolute;
    overflow: visible;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;

    #Slider_Arrows {
      position: absolute;
      width: 1px;
      height: 1px;
      left: -1990px;
      top: 0px;
      overflow: visible;
    }
  }

  #Next_Product {
    position: absolute;
    width: 279.396px;
    height: 88.873px;
    left: 150.604px;
    top: 775.563px;
    overflow: visible;

    .Background_fa {
      position: absolute;
      overflow: visible;
      width: 80px;
      height: 80px;
      left: 14.396px;
      top: 4.437px;
    }

    #image_e {
      position: absolute;
      width: 109.792px;
      height: 88.873px;
      left: 0px;
      top: 0px;
      overflow: visible;
    }
  }

  #icons_plus {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 204.396px;
    top: 48.937px;
    overflow: visible;

    .plus {
      overflow: visible;
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0px;
      top: 0px;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  #Text_e {
    position: absolute;
    width: 155px;
    height: 50px;
    left: 124.396px;
    top: 11.937px;
    overflow: visible;

    #_225 {
      position: absolute;
      left: 0px;
      top: 31px;
      overflow: visible;
      width: 40px;
      white-space: nowrap;
      line-height: 28px;
      margin-top: -6px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }

    #Air_Jordan_6_Retro {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 156px;
      white-space: nowrap;
      line-height: 26px;
      margin-top: -4px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: rgba(21, 21, 23, 1);
    }
  }

  #Product_Image {
    position: absolute;
    width: 730px;
    height: 540px;
    left: 545px;
    top: 180px;
    overflow: visible;

    #Image_fb {
      opacity: 0.6;
      position: absolute;
      width: 80px;
      height: 37px;
      left: 650px;
      top: 157px;
      overflow: visible;
    }

    #Image_fc {
      position: absolute;
      width: 66px;
      height: 80px;
      left: 657px;
      top: 234px;
      overflow: visible;
    }

    #image_fd {
      opacity: 0.6;
      position: absolute;
      width: 80px;
      height: 30px;
      left: 650px;
      top: 354px;
      overflow: visible;
    }

    .Background_fe {
      position: absolute;
      overflow: visible;
      width: 540px;
      height: 540px;
      left: 0px;
      top: 0px;
    }

    #Image_ff {
      filter: drop-shadow(-50px 50px 100px rgba(103, 103, 103, 0.102));
      position: absolute;
      width: 801px;
      height: 972px;
      left: -165px;
      top: -144px;
      overflow: visible;
      transform-origin: 65% 75%;
      transition: transform 0.5s, filter 0.5s ease-in;
    }
    #Image_ff:hover {
      transform: scale(1.2);
    }
  }

  #Buttons_Large_Color_1_Solid_fg {
    position: absolute;
    width: 180px;
    height: 60px;
    left: 165px;
    top: 419px;
    overflow: visible;

    #Buttons_Large_Color_1_Solid_fh {
      position: absolute;
      width: 180px;
      height: 60px;
      left: 0px;
      top: 0px;
      overflow: visible;
    }

    .Background_fi {
      position: absolute;
      overflow: visible;
      width: 180px;
      height: 60px;
      left: 0px;
      top: 0px;
    }

    #Get_Started_fj {
      position: absolute;
      left: 44.5px;
      top: 18px;
      overflow: visible;
      width: 93px;
      white-space: nowrap;
      text-align: center;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: rgba(255, 255, 255, 1);
    }
  }

  #Text_fk {
    position: absolute;
    width: 350px;
    height: 215px;
    left: 165px;
    top: 157px;
    overflow: visible;

    #_180 {
      position: absolute;
      left: 0px;
      top: 186px;
      overflow: visible;
      width: 61px;
      white-space: nowrap;
      line-height: 32px;
      margin-top: -4px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      color: rgba(103, 103, 103, 1);
    }

    #Nike_Joyride_Run_Fly {
      position: absolute;
      left: 0px;
      top: 46px;
      overflow: visible;
      width: 351px;
      height: 124px;
      line-height: 62px;
      margin-top: -7px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: rgba(21, 21, 23, 1);
    }

    #Men_s_Running_Shoe {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 153px;
      white-space: nowrap;
      line-height: 28px;
      margin-top: -6px;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(103, 103, 103, 1);
    }
  }

  #Nav_Bar {
    position: absolute;
    width: 1110px;
    height: 50px;
    left: 165.5px;
    top: 25px;
    overflow: visible;

    .Background_fp {
      display: none;
      position: absolute;
      overflow: visible;
      width: 1440px;
      height: 100px;
      left: -165px;
      top: -25px;
    }

    #Buttons_Small_Color_2_Solid {
      position: absolute;
      width: 120px;
      height: 50px;
      left: 990px;
      top: 0px;
      overflow: visible;

      #Buttons_Small_Color_2_Solid_fr {
        position: absolute;
        width: 120px;
        height: 50px;
        left: 0px;
        top: 0px;
        overflow: visible;
      }

      .Background_fs {
        position: absolute;
        overflow: visible;
        width: 120px;
        height: 50px;
        left: 0px;
        top: 0px;
      }

      #Log_In {
        position: absolute;
        left: 30px;
        top: 13px;
        overflow: visible;
        width: 61px;
        white-space: nowrap;
        text-align: center;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(255, 255, 255, 1);
      }
    }

    #Log_In_fu {
      position: absolute;
      left: 923px;
      top: 13px;
      overflow: visible;
      width: 48px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(82, 82, 82, 1);
    }

    #Contact_fv {
      position: absolute;
      left: 355px;
      top: 13px;
      overflow: visible;
      width: 62px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(21, 21, 23, 1);
    }

    #Services {
      position: absolute;
      left: 259px;
      top: 13px;
      overflow: visible;
      width: 66px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(21, 21, 23, 1);
    }

    #Work {
      position: absolute;
      left: 188px;
      top: 13px;
      overflow: visible;
      width: 42px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(21, 21, 23, 1);
    }

    #Explore {
      position: absolute;
      left: 100px;
      top: 13px;
      overflow: visible;
      width: 58px;
      white-space: nowrap;
      text-align: left;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: rgba(21, 21, 23, 1);
    }

    #kraft8 {
      position: absolute;
      left: 0px;
      top: 9px;
      overflow: visible;
      width: 61px;
      white-space: nowrap;
      text-align: left;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      color: rgba(21, 21, 23, 1);
    }
  }
  p:hover {
    position: absolute;
    overflow: visible;
    width: 42px;
    white-space: nowrap;
    text-align: left;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 20px;
    color: #74b9ff;
  }
}
