@media (min-width: 0px) {
  @import "./font.scss";
  @import "./landing.scss";
  @import "./footer.scss";
  @import "./commerce.scss";
  @import "./testimonial.scss";
  @import "./content.scss";
  @import "./blog.scss";
  @import "./team.scss";
  @import "./secondBlog.scss";
  @import "./portfolio.scss";
  @import "./card.scss";
  @import "./testimonialCard.scss";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  #root {
    position: absolute;
    width: 1440px;
    height: 7965px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
  }
  #root:hover {
    overflow-y: scroll;
  }
}
