@import "./font.scss";
@import "./landing.scss";
@import "./footer.scss";
@import "./commerce.scss";
@import "./testimonial.scss";
@import "./content.scss";
@import "./blog.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}