#Blog_07 {
    position: absolute;
    width: 1440px;
    height: 1128px;
    left: 0px;
    top: 4647px;
    overflow: visible;

    .Background_ {
        position: absolute;
        overflow: visible;
        width: 1440px;
        height: 1128px;
        left: 0px;
        top: 0px;
    }


    #Post_4 {
        position: absolute;
        width: 445px;
        height: 360px;
        left: 830px;
        top: 688px;
        overflow: visible;

        #Image {
            position: absolute;
            width: 445px;
            height: 360px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_be {
                filter: drop-shadow(0px 20px 50px rgba(103, 103, 103, 0.051));
                position: absolute;
                overflow: visible;
                width: 595px;
                height: 510px;
                left: 0px;
                top: 0px;
            }

            #Image_ba {
                position: absolute;
                width: 445px;
                height: 360px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Info {
            position: absolute;
            width: 178px;
            height: 51px;
            left: 40px;
            top: 269px;
            overflow: visible;

            #Sep_9___8_min_read {
                position: absolute;
                left: 60px;
                top: 27px;
                overflow: visible;
                width: 119px;
                height: 23px;
                line-height: 24px;
                margin-top: -5px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: rgba(232, 232, 232, 1);
            }

            #Beatriz_Brito {
                position: absolute;
                left: 60px;
                top: 0px;
                overflow: visible;
                width: 96px;
                white-space: nowrap;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }

            #Avatars_Medium {
                position: absolute;
                width: 50px;
                height: 50px;
                left: 0px;
                top: 1px;
                overflow: visible;
            }
        }

        #Text_bk {
            position: absolute;
            width: 350px;
            height: 113px;
            left: 40px;
            top: 40px;
            overflow: visible;

            #Having_worked_across {
                position: absolute;
                left: 0px;
                top: 57px;
                overflow: visible;
                width: 351px;
                height: 56px;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(232, 232, 232, 1);
            }

            #We_Need_To_Talk_Abou {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 351px;
                height: 52px;
                line-height: 26px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    #Post_3 {
        position: absolute;
        width: 635px;
        height: 360px;
        left: 165px;
        top: 688px;
        overflow: visible;

        #Image_bo {
            position: absolute;
            width: 635px;
            height: 360px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_bu {
                position: absolute;
                overflow: visible;
                width: 635px;
                height: 360px;
                left: 0px;
                top: 0px;
            }

            #Image_bq {
                position: absolute;
                width: 635px;
                height: 360px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Info_bv {
            position: absolute;
            width: 178px;
            height: 51px;
            left: 40px;
            top: 269px;
            overflow: visible;

            #Sep_9___8_min_read_bw {
                position: absolute;
                left: 60px;
                top: 27px;
                overflow: visible;
                width: 119px;
                height: 23px;
                line-height: 24px;
                margin-top: -5px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: rgba(232, 232, 232, 1);
            }

            #B_rbara_Cotilla {
                position: absolute;
                left: 60px;
                top: 0px;
                overflow: visible;
                width: 112px;
                white-space: nowrap;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }

            #Avatars_Medium_by {
                position: absolute;
                width: 50px;
                height: 50px;
                left: 0px;
                top: 1px;
                overflow: visible;
            }
        }

        #Text_b {
            position: absolute;
            width: 350px;
            height: 113px;
            left: 40px;
            top: 40px;
            overflow: visible;

            #Having_worked_across_b {
                position: absolute;
                left: 0px;
                top: 57px;
                overflow: visible;
                width: 351px;
                height: 56px;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(232, 232, 232, 1);
            }

            #Here_s_What_Develope {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 351px;
                height: 52px;
                line-height: 26px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    #Post_2 {
        position: absolute;
        width: 635px;
        height: 360px;
        left: 640px;
        top: 298px;
        overflow: visible;

        #Image_b {
            position: absolute;
            width: 635px;
            height: 360px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_ca {
                position: absolute;
                overflow: visible;
                width: 635px;
                height: 360px;
                left: 0px;
                top: 0px;
            }

            #Image_ca {
                position: absolute;
                width: 635px;
                height: 360px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Info_cb {
            position: absolute;
            width: 178px;
            height: 51px;
            left: 40px;
            top: 269px;
            overflow: visible;

            #Sep_9___8_min_read_cc {
                position: absolute;
                left: 60px;
                top: 27px;
                overflow: visible;
                width: 119px;
                height: 23px;
                line-height: 24px;
                margin-top: -5px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: rgba(232, 232, 232, 1);
            }

            #Mart_n_Abasto {
                position: absolute;
                left: 60px;
                top: 0px;
                overflow: visible;
                width: 108px;
                white-space: nowrap;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }

            #Avatars_Medium_ce {
                position: absolute;
                width: 50px;
                height: 50px;
                left: 0px;
                top: 1px;
                overflow: visible;
            }
        }

        #Text_cg {
            position: absolute;
            width: 350px;
            height: 113px;
            left: 40px;
            top: 40px;
            overflow: visible;

            #Having_worked_across_ch {
                position: absolute;
                left: 0px;
                top: 57px;
                overflow: visible;
                width: 351px;
                height: 56px;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(232, 232, 232, 1);
            }

            #Here_s_What_Develope_ci {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 351px;
                height: 52px;
                line-height: 26px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    #Post_1 {
        position: absolute;
        width: 445px;
        height: 360px;
        left: 165px;
        top: 298px;
        overflow: visible;

        #Image_ck {
            position: absolute;
            width: 445px;
            height: 360px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_cq {
                filter: drop-shadow(0px 20px 50px rgba(103, 103, 103, 0.051));
                position: absolute;
                overflow: visible;
                width: 595px;
                height: 510px;
                left: 0px;
                top: 0px;
            }

            #Image_cm {
                position: absolute;
                width: 445px;
                height: 360px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Info_cr {
            position: absolute;
            width: 197px;
            height: 51px;
            left: 40px;
            top: 269px;
            overflow: visible;

            #Sep_9___8_min_read_cs {
                position: absolute;
                left: 60px;
                top: 27px;
                overflow: visible;
                width: 119px;
                height: 23px;
                line-height: 24px;
                margin-top: -5px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: rgba(232, 232, 232, 1);
            }

            #Benedikt_Safiyulin {
                position: absolute;
                left: 60px;
                top: 0px;
                overflow: visible;
                width: 138px;
                white-space: nowrap;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }

            #Avatars_Medium_cu {
                position: absolute;
                width: 50px;
                height: 50px;
                left: 0px;
                top: 1px;
                overflow: visible;

            }
        }

        #Text_cw {
            position: absolute;
            width: 350px;
            height: 113px;
            left: 40px;
            top: 40px;
            overflow: visible;

            #Having_worked_across_cx {
                position: absolute;
                left: 0px;
                top: 57px;
                overflow: visible;
                width: 351px;
                height: 56px;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(232, 232, 232, 1);
            }

            #Why_Design_Systems_A {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 351px;
                height: 52px;
                line-height: 26px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    #Text_cz {
        position: absolute;
        width: 445px;
        height: 141px;
        left: 498px;
        top: 77px;
        overflow: visible;

        #Live_Today__Tomorrow {
            position: absolute;
            left: 0px;
            top: 49px;
            overflow: visible;
            width: 446px;
            height: 92px;
            line-height: 46px;
            margin-top: -5px;
            text-align: center;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(21, 21, 23, 1);
        }

        #blog {
            position: absolute;
            left: 189.5px;
            top: 0px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            line-height: 26px;
            margin-top: -4px;
            text-align: center;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(255, 169, 0, 1);
            letter-spacing: 2.7777777099609375px;
        }
    }
}