#Team_09 {
    position: absolute;
    width: 1870px;
    height: 954px;
    left: -215px;
    top: 3693px;
    overflow: visible;

    .Background_c {
        position: absolute;
        overflow: visible;
        width: 1440px;
        height: 954px;
        left: 215px;
        top: 0px;
    }

    #Slider_Dots {
        transform: translate(0px, 0px) matrix(1, 0, 0, 1, 860, 874) rotate(-90deg);
        transform-origin: center;
        position: absolute;
        width: 1px;
        height: 1px;
        left: 0px;
        top: 0px;
        overflow: visible;
    }

    #Member_5 {
        position: absolute;
        width: 350px;
        height: 508px;
        left: 1520px;
        top: 284px;
        overflow: visible;

        #Image_c {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_da {
                position: absolute;
                overflow: visible;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
            }
        }

        #Image_da {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;
        }

        #Text_db {
            position: absolute;
            width: 194px;
            height: 63px;
            left: 0px;
            top: 445px;
            overflow: visible;

            #Marketing_Manager {
                position: absolute;
                left: 0px;
                top: 44px;
                overflow: visible;
                width: 147px;
                white-space: nowrap;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(77, 102, 255, 1);
            }

            #Edward_Lindgren {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 195px;
                white-space: nowrap;
                line-height: 32px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: rgba(21, 21, 23, 1);
            }
        }
    }

    #Member_4 {
        position: absolute;
        width: 350px;
        height: 508px;
        left: 1140px;
        top: 284px;
        overflow: visible;

        #Image_df {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_dj {
                position: absolute;
                overflow: visible;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
            }
        }

        #Image_dh {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;
        }

        #Text_dk {
            position: absolute;
            width: 167px;
            height: 63px;
            left: 0px;
            top: 445px;
            overflow: visible;

            #Product_Manager {
                position: absolute;
                left: 0px;
                top: 44px;
                overflow: visible;
                width: 131px;
                white-space: nowrap;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(77, 102, 255, 1);
            }

            #Gabriel_Soares {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 168px;
                white-space: nowrap;
                line-height: 32px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: rgba(21, 21, 23, 1);
            }
        }
    }

    #Member_3 {
        position: absolute;
        width: 350px;
        height: 508px;
        left: 760px;
        top: 284px;
        overflow: visible;

        #Image_do {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_ds {
                position: absolute;
                overflow: visible;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
            }

            #Image_dq {
                position: absolute;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Text_dt {
            position: absolute;
            width: 185px;
            height: 63px;
            left: 0px;
            top: 445px;
            overflow: visible;

            #Senior_Developer {
                position: absolute;
                left: 0px;
                top: 44px;
                overflow: visible;
                width: 130px;
                white-space: nowrap;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(77, 102, 255, 1);
            }

            #Justine_Marshall {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 186px;
                white-space: nowrap;
                line-height: 32px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: rgba(21, 21, 23, 1);
            }
        }
    }

    #Member_2 {
        position: absolute;
        width: 350px;
        height: 508px;
        left: 380px;
        top: 284px;
        overflow: visible;

        #Image_dx {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_d {
                position: absolute;
                overflow: visible;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
            }

            #Image_dz {
                position: absolute;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Text_d {
            position: absolute;
            width: 189px;
            height: 63px;
            left: 0px;
            top: 445px;
            overflow: visible;

            #Product_Designer {
                position: absolute;
                left: 0px;
                top: 44px;
                overflow: visible;
                width: 132px;
                white-space: nowrap;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(77, 102, 255, 1);
            }

            #Georges_Embolo {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 190px;
                white-space: nowrap;
                line-height: 32px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: rgba(21, 21, 23, 1);
            }
        }
    }

    #Member_1 {
        position: absolute;
        width: 350px;
        height: 508px;
        left: 0px;
        top: 284px;
        overflow: visible;

        #Image_d {
            position: absolute;
            width: 350px;
            height: 420px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .Mask_eb {
                position: absolute;
                overflow: visible;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
            }

            #Image_ea {
                position: absolute;
                width: 350px;
                height: 420px;
                left: 0px;
                top: 0px;
                overflow: visible;
            }
        }

        #Text_eb {
            position: absolute;
            width: 175px;
            height: 63px;
            left: 0px;
            top: 445px;
            overflow: visible;

            #Head_Of_Sales {
                position: absolute;
                left: 0px;
                top: 44px;
                overflow: visible;
                width: 106px;
                white-space: nowrap;
                line-height: 28px;
                margin-top: -6px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(77, 102, 255, 1);
            }

            #Paulina_Gayoso {
                position: absolute;
                left: 0px;
                top: 0px;
                overflow: visible;
                width: 176px;
                white-space: nowrap;
                line-height: 32px;
                margin-top: -4px;
                text-align: left;
                font-family: Libre Franklin;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: rgba(21, 21, 23, 1);
            }
        }
    }

    #Teamwork_Makes_The_D {
        position: absolute;
        left: 713px;
        top: 80px;
        overflow: visible;
        width: 446px;
        height: 124px;
        line-height: 62px;
        margin-top: -7px;
        text-align: center;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        color: rgba(21, 21, 23, 1);
    }
}

#avartar {
    width: inherit;
    height: inherit;
    overflow: visible;
}