#Team_09 {
  position: absolute;
  width: 1870px;
  height: 954px;
  left: -215px;
  top: 3693px;
  overflow: visible;

  .Background_c {
    position: absolute;
    overflow: visible;
    width: 1440px;
    height: 954px;
    left: 215px;
    top: 0px;
  }

  #Slider_Dots {
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, 860, 874) rotate(-90deg);
    transform-origin: center;
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }

  #Teamwork_Makes_The_D {
    position: absolute;
    left: 713px;
    top: 80px;
    overflow: visible;
    width: 446px;
    height: 124px;
    line-height: 62px;
    margin-top: -7px;
    text-align: center;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(21, 21, 23, 1);
  }
}

#avartar {
  width: inherit;
  height: inherit;
  overflow: visible;
}
