#Testimonial_09 {
    position: absolute;
    width: 1870px;
    height: 900px;
    left: -215px;
    top: 900px;
    overflow: visible;

    .Background_ig {
        position: absolute;
        overflow: visible;
        width: 1440px;
        height: 900px;
        left: 215px;
        top: 0px;
    }

    #Review_4 {
        position: absolute;
        width: 445px;
        height: 308px;
        left: 1425px;
        top: 412px;
        overflow: visible;

        .Background_ii {
            filter: drop-shadow(0px 20px 50px rgba(103, 103, 103, 0.051));
            position: absolute;
            overflow: visible;
            width: 595px;
            height: 458px;
            left: 0px;
            top: 0px;
        }

        #Product_Designer__Ap {
            position: absolute;
            left: 30px;
            top: 241px;
            overflow: visible;
            width: 164px;
            white-space: nowrap;
            line-height: 24px;
            margin-top: -5px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(103, 103, 103, 1);
        }

        #Tao_Yi {
            position: absolute;
            left: 30px;
            top: 217px;
            overflow: visible;
            width: 47px;
            white-space: nowrap;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(21, 21, 23, 1);
        }

        #_It_s_not_only_about {
            position: absolute;
            left: 30px;
            top: 110px;
            overflow: visible;
            width: 386px;
            height: 90px;
            line-height: 30px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(21, 21, 23, 1);
        }

        #Avatars_Medium_in {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 30px;
            top: 40px;
            overflow: visible;
        }
    }

    #Review_3 {
        position: absolute;
        width: 445px;
        height: 308px;
        left: 950px;
        top: 412px;
        overflow: visible;

        .Background_iq {
            filter: drop-shadow(0px 20px 50px rgba(103, 103, 103, 0.051));
            position: absolute;
            overflow: visible;
            width: 595px;
            height: 458px;
            left: 0px;
            top: 0px;
        }

        #Product_Designer__Ap_ir {
            position: absolute;
            left: 30px;
            top: 241px;
            overflow: visible;
            width: 164px;
            white-space: nowrap;
            line-height: 24px;
            margin-top: -5px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(103, 103, 103, 1);
        }

        #Pin_Jung_Eum {
            position: absolute;
            left: 30px;
            top: 217px;
            overflow: visible;
            width: 104px;
            white-space: nowrap;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(21, 21, 23, 1);
        }

        #_It_s_not_only_about_it {
            position: absolute;
            left: 30px;
            top: 110px;
            overflow: visible;
            width: 386px;
            height: 90px;
            line-height: 30px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(21, 21, 23, 1);
        }

        #Stars_iu {
            position: absolute;
            width: 1px;
            height: 1px;
            left: -2725px;
            top: -1312px;
            overflow: visible;
        }

        #Avatars_Medium_iv {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 30px;
            top: 40px;
            overflow: visible;
        }
    }

    #Review_2 {
        position: absolute;
        width: 445px;
        height: 308px;
        left: 475px;
        top: 412px;
        overflow: visible;

        .Background_iy {
            filter: drop-shadow(0px 20px 50px rgba(103, 103, 103, 0.051));
            position: absolute;
            overflow: visible;
            width: 595px;
            height: 458px;
            left: 0px;
            top: 0px;
        }

        #Product_Designer__Ap_iz {
            position: absolute;
            left: 30px;
            top: 241px;
            overflow: visible;
            width: 164px;
            white-space: nowrap;
            line-height: 24px;
            margin-top: -5px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(103, 103, 103, 1);
        }

        #Artem_Sazonov {
            position: absolute;
            left: 30px;
            top: 217px;
            overflow: visible;
            width: 117px;
            white-space: nowrap;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(21, 21, 23, 1);
        }

        #_It_s_not_only_about_i {
            position: absolute;
            left: 30px;
            top: 110px;
            overflow: visible;
            width: 386px;
            height: 90px;
            line-height: 30px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(21, 21, 23, 1);
        }

        #Stars_i {
            position: absolute;
            width: 1px;
            height: 1px;
            left: -2250px;
            top: -1312px;
            overflow: visible;
        }

        #Avatars_Medium_i {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 30px;
            top: 40px;
            overflow: visible;
        }
    }

    #Review_1 {
        position: absolute;
        width: 445px;
        height: 308px;
        left: 0px;
        top: 412px;
        overflow: visible;

        .Background_i {
            filter: drop-shadow(0px 20px 50px rgba(103, 103, 103, 0.051));
            position: absolute;
            overflow: visible;
            width: 595px;
            height: 458px;
            left: 0px;
            top: 0px;
        }

        #Product_Designer__Ap_i {
            position: absolute;
            left: 30px;
            top: 241px;
            overflow: visible;
            width: 164px;
            white-space: nowrap;
            line-height: 24px;
            margin-top: -5px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(103, 103, 103, 1);
        }

        #Georges_Embolo_i {
            position: absolute;
            left: 30px;
            top: 217px;
            overflow: visible;
            width: 126px;
            white-space: nowrap;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: rgba(21, 21, 23, 1);
        }

        #_It_s_not_only_about_ja {
            position: absolute;
            left: 30px;
            top: 110px;
            overflow: visible;
            width: 386px;
            height: 90px;
            line-height: 30px;
            margin-top: -6px;
            text-align: left;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(21, 21, 23, 1);
        }

        #Stars_ja {
            position: absolute;
            width: 1px;
            height: 1px;
            left: -1775px;
            top: -1312px;
            overflow: visible;
        }

        #Avatars_Medium_jb {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 30px;
            top: 40px;
            overflow: visible;
        }
    }

    #Slider_Arrows_jd {
        position: absolute;
        width: 1px;
        height: 1px;
        left: -1775px;
        top: -900px;
        overflow: visible;
    }

    #Text_je {
        position: absolute;
        width: 445px;
        height: 172px;
        left: 713px;
        top: 160px;
        overflow: visible;

        #Only_those_who_risk_jf {
            position: absolute;
            left: 0px;
            top: 112px;
            overflow: visible;
            width: 446px;
            height: 60px;
            line-height: 30px;
            margin-top: -6px;
            text-align: center;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }

        #We_Are_Loved_By_User {
            position: absolute;
            left: 0px;
            top: 0px;
            overflow: visible;
            width: 446px;
            height: 92px;
            line-height: 46px;
            margin-top: -5px;
            text-align: center;
            font-family: Libre Franklin;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(255, 255, 255, 1);
        }
    }
}