#Testimonial_09 {
  position: absolute;
  width: 1870px;
  height: 900px;
  left: -215px;
  top: 900px;
  overflow: visible;

  .slide-container {
    position: absolute;
    width: 700px;
    height: 450px;
    left: 580px;
    top: 412px;
    overflow: hidden;
    margin: auto;
  }
  .each-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 280px;
    width: 700px;
    top: 412px;
  }

  .Background_ig {
    position: absolute;
    overflow: visible;
    width: 1440px;
    height: 900px;
    left: 215px;
    top: 0px;
  }

  #Slider_Arrows_jd {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -1775px;
    top: -900px;
    overflow: visible;
  }

  #Text_je {
    position: absolute;
    width: 445px;
    height: 172px;
    left: 713px;
    top: 160px;
    overflow: visible;

    #Only_those_who_risk_jf {
      position: absolute;
      left: 0px;
      top: 112px;
      overflow: visible;
      width: 446px;
      height: 60px;
      line-height: 30px;
      margin-top: -6px;
      text-align: center;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: rgba(255, 255, 255, 1);
    }

    #We_Are_Loved_By_User {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      width: 446px;
      height: 92px;
      line-height: 46px;
      margin-top: -5px;
      text-align: center;
      font-family: Libre Franklin;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
